name: Build Docker Images

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /var/lib/docker
          key: ${{ runner.os }}-docker-${{ hashFiles('**/Dockerfile') }}
          restore-keys: ${{ runner.os }}-docker-

      - name: Build and Push Docker Images
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: pollubartur/ag_sprawozdanie_fullstack:latest
          cache-from: type=registry,ref=pollubartur/ag_sprawozdanie_fullstack:cache
          cache-to: type=registry,ref=pollubartur/ag_sprawozdanie_fullstack:cache,mode=max
          secrets: |
            IPGEOLOCATION_API_KEY=${{ secrets.IPGEOLOCATION_API_KEY }}
