on:
  push:
    branches:
      - master

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Change directory to Terraform package
        run: cd terraform

      - name: Initialize Terraform
        run: terraform init

  deploy:
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Upload Dockerrun.aws.json to S3
        run: aws s3 cp Dockerrun.aws.json s3://ag-zad2-s3/Dockerrun.aws.json

      - name: Deploy to Elastic Beanstalk
        run: |
          aws elasticbeanstalk create-application-version --application-name ag-zad2 --version-label ${{ github.sha }} --source-bundle '{
            "S3Bucket": "ag-zad2-s3",
            "S3Key": "Dockerrun.aws.json"
          }'
          aws elasticbeanstalk update-environment --application-name ag-zad2 --environment-name ag-zad2-env --version-label ${{ github.sha }}
